button {
  background-color: blue;
  color: white;
  border-radius: 10px;
}

.Notification {
  color: green;
  background-color: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}
